<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="description" content="港货灵是一套分销系统，港货灵VIP获得超低价购买，VIP推荐用户成为VIP获得100元奖励，推荐用户购买获得利润的40%分成，推荐厂家产品给产品的所有销售的利润的5%分成，成为区域公司获得该区域下所有消费的利润5%分成。是一个最好的系统" />
    <meta name="keywords" content="港货灵分销，港货灵VIP获得超低价购买" />
    <title>港货灵</title>
    <link rel="stylesheet" href="/h5/themes/default/statics/css/ectouch.css" />
    <script type="text/javascript">
        var tpl = '/ectouch/wsc/themes/default';
    </script>


    <link rel="stylesheet" href="/h5/data/assets/layer/skin/layer.css" id="layui_layer_skinlayercss" style="">
</head>
<body style="max-width:640px;">
<div id="loading"><img src="/h5/themes/default/statics/img/loading.gif" /></div>
	<div class="con">
        <header class="dis-box header-menu b-color color-whie"><a class="" href="javascript:history.go(-1)"><i class="iconfont icon-jiantou"></i></a>
            <h3 class="box-flex">授权管理</h3>
            <p><i class="iconfont icon-pailie j-nav-box"></i></p>
        </header>
        <div class="j-nav-content">
        <ul class="dis-box new-footer-box">
            <li class="box-flex">
                <a href="/h5/index" class="nav-cont"><i class="nav-box"><img src="/h5/themes/default/statics/img/home.png"></i><span>首页</span></a>
            </li>
            <li class="box-flex">
                <a href="/h5/category/" class="nav-cont"><i class="nav-box"><img src="/h5/themes/default/statics/img/cate.png"></i><span>分类</span></a>
            <li class="box-flex">
                <a href="javascript:;" class="nav-cont j-search-input"><i class="nav-box"><img src="/h5/themes/default/statics/img/search.png"></i><span>搜索</span></a>
            </li>
            <li class="box-flex">
                <a href="/h5/cart" class="nav-cont"><i class="nav-box"><img src="/h5/themes/default/statics/img/flow.png"></i><span>购物车</span></a>
            </li>
            <li class="box-flex">
                <a href="/h5/personal_center" class="nav-cont"><i class="nav-box"><img src="/h5/themes/default/statics/img/user.png"></i><span>我的</span></a>
            </li>
        </ul>
    </div>
        <div class="user_profile_bind  bg-white padding-all dis-box m-top08">
            <div class="box-flex">
                <div class="dis-box">
                    <div><img src="/h5/themes/default/images/weixin.jpg" alt="weixin"></div>
                    <div class="box-flex cont">
                        <h4 class="f-05 col-3">微信登录</h4>
                        <p class="f-02 col-7 m-top02">一键登录，更方便，更快捷！</p>
                    </div>

                </div>
            </div>
            <div class="right">

                <div class="user_profile_bind_btn">
                    <a href="https://shop.ectouch.cn/ectouch/wsc/index.php?m=default&amp;c=oauth&amp;a=index&amp;type=qq&amp;user_id=35170&amp;u=35170">
                        <i class="iconfont icon-jiantou tf-180"></i><sapn class="col-7">去绑定</sapn>
                    </a>
                </div>
            </div>
        </div>
                <div class="user_profile_bind  bg-white padding-all dis-box m-top08">
                    <div class="box-flex">
                        <div class="dis-box">
                            <div><img src="/h5/themes/default/images/qq.png" alt="qq"></div>
                            <div class="box-flex cont">
                                    <h4 class="f-05 col-3">QQ登录</h4>
                                    <p class="f-02 col-7 m-top02">一键登录，更方便，更快捷！</p>
                            </div>
                        </div>
                    </div>
                    <div class="right">

                        <div class="user_profile_bind_btn">
                            <a href="https://shop.ectouch.cn/ectouch/wsc/index.php?m=default&amp;c=oauth&amp;a=index&amp;type=qq&amp;user_id=35170&amp;u=35170">
                            <i class="iconfont icon-jiantou tf-180"></i><sapn class="col-7">去绑定</sapn>
                            </a>
                         </div>
                    </div>
    			</div>
                <div class="user_profile_bind  bg-white padding-all dis-box m-top08">
                    <div class="box-flex">
                        <div class="dis-box">
                                <div><img src="/h5/themes/default/images/weibo.png" alt="sina"></div>
                                    <div class="box-flex cont">
                                    <p class="f-02 col-7 m-top02">一键登录，更方便，更快捷！</p>
                                </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="user_profile_bind_btn">
                            <a href="https://shop.ectouch.cn/ectouch/wsc/index.php?m=default&amp;c=oauth&amp;a=index&amp;type=sina&amp;user_id=35170&amp;u=35170">
                            <i class="iconfont icon-jiantou tf-180"></i><sapn class="col-7">去绑定</sapn>
                            </a>
                         </div>
                    </div>
    			</div>

            <div class="dis-box user_relation_remark">
                <label class="f-02 col-9">注：</label>
                <p class="col-9 f-02 box-flex">
                解绑后，将不能快捷登录网站，请谨慎操作。
                </p>
            </div>

        	</div>
<script type="text/javascript" src="/h5/themes/default/statics/js/jquery-2.1.4.min.js"></script>
<script src="/h5/data/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/h5/themes/default/statics/js/swiper.min.js"></script>
<script type="text/javascript" src="/h5/themes/default/statics/js/ectouch.js"></script>
<script type="text/javascript" src="/h5/data/assets/js/jquery.json.js"></script>
<script type="text/javascript" src="/h5/themes/default/statics/js/jquery-ui-1.10.1.custom.min.js"></script>
<script type="text/javascript" src="/h5/themes/default/statics/js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="/h5/themes/default/statics/js/jquery.scrollUp.min.js"></script>
<script type="text/javascript" src="/h5/themes/default/statics/js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="/h5/data/assets/js/common.js"></script>
<script type="text/javascript" src="/h5/data/assets/js/validform.js"></script>
<script src="/h5/themes/default/js/code-photoswipe-1.0.11.min.js"></script>
<script src="/h5/themes/default/js/simple-inheritance.min.js"></script>
<script src="/h5/data/assets/swiper/js/jquery.swiper.min.js"></script>
<script type="text/javascript" src="/h5/data/assets/js/utils.js"></script>
<script type="text/javascript" src="/h5/data/assets/js/jquery.more.js"></script>
<script language="javascript">
var handler = function(e) { //禁止浏览器默认行为
		e.preventDefault();
	};
	/*banner滚动图片*/
	var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 1,
        loop: true,
        autoplay : 2000
    });
	/*弹出评论层并隐藏其他层*/
	function openSearch(){
		document.addEventListener("touchmove", handler, false);
		$("body").addClass("show-search-div");
		$(".search-div").css("z-index","4999");
		$("input[name='keywords']").focus();
	}
</script>
<script type="text/javascript" src="/h5/data/assets/layer/layer.js"></script>
    <script type="text/javascript">
    $(function(){
        // 点击
        $('.accountbind').click(function(){
            var id = $(this).attr("data-item");
            //询问框
            layer.open({
                content: '您确定要解绑此会员帐号吗？'
                ,btn: ['确定', '取消']
                ,yes: function(index){
                    remove_account(id); //解绑
                }
            });
        });

        // 解绑
        function remove_account(id) {
            $.post("/ectouch/wsc/index.php?m=default&c=user&a=account_bind&u=35170", {id:id}, function(data) {
                layer.msg(data.msg);
                url = data.url ? data.url : '';
                setTimeout('goto(url)',2000);
                return false;
            },'json');
        }
    });

    function goto(url)
    {
        if (url) {
            window.location.href = url;
        } else {
            window.location.reload();
        }
    }
    </script>

</body></html>