<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="description" content="港货灵是一套分销系统，港货灵VIP获得超低价购买，VIP推荐用户成为VIP获得100元奖励，推荐用户购买获得利润的40%分成，推荐厂家产品给产品的所有销售的利润的5%分成，成为区域公司获得该区域下所有消费的利润5%分成。是一个最好的系统" />
		<meta name="keywords" content="港货灵分销，港货灵VIP获得超低价购买" />
		<title>港货灵</title>
		<link rel="stylesheet" href="/h5/themes/default/statics/css/ectouch.css" />
		<script type="text/javascript">
			var tpl = '/ectouch/wsc/themes/default';
		</script>

	</head>

	<body style="max-width:640px;">
		<div id="loading"><img src="/h5/themes/default/statics/img/loading.gif" /></div>
		<header class="dis-box header-menu b-color color-whie">
			<a class="" href="javascript:history.go(-1)"><i class="iconfont icon-jiantou"></i></a>
			<h3 class="box-flex" th:text="${address}?'修改收货地址':'新增收货地址'">新增收货地址</h3>
			<p><i class="iconfont icon-pailie j-nav-box"></i></p>
		</header>
		<div class="j-nav-content">
			<ul class="dis-box new-footer-box">
				<li class="box-flex">
					<a href="index.html" class="nav-cont"><i class="nav-box"><img src="/h5/themes/default/statics/img/home.png"></i><span>首页</span></a>
				</li>
				<li class="box-flex">
					<a href="category.html" class="nav-cont"><i class="nav-box"><img src="/h5/themes/default/statics/img/cate.png"></i><span>分类</span></a>
					<li class="box-flex">
						<a href="javascript:;" class="nav-cont j-search-input"><i class="nav-box"><img src="/h5/themes/default/statics/img/search.png"></i><span>搜索</span></a>
					</li>
					<li class="box-flex">
						<a href="cart.html" class="nav-cont"><i class="nav-box"><img src="/h5/themes/default/statics/img/flow.png"></i><span>购物车</span></a>
					</li>
					<li class="box-flex">
						<a href="personal_center.html" class="nav-cont"><i class="nav-box"><img src="/h5/themes/default/statics/img/user.png"></i><span>我的</span></a>
					</li>
			</ul>
		</div>
		<form name="theForm" id="theForm" onsubmit="return checkConsignee(this)">

			<section class="flow-consignee ect-bg-colorf s-user-top onclik-admin">
				<ul>
					<li class="dis-box s-xian-box s-user-top-1">
						<h3 class="profile-left-name text-all-span my-u-title-size">收货人姓名：</h3>
						<div class="box-flex t-goods1 n-pro-name  onelist-hidden"> <input name="uname" id="uname" maxlength="20" placeholder="收货人姓名必填" type="text" class="inputBg" value="" th:value="${address?.uname}" /></div>
					</li>
					<li class="dis-box s-xian-box s-user-top-1">
						<h3 class="profile-left-name text-all-span my-u-title-size">手机：</h3>
						<div class="box-flex t-goods1 onelist-hidden n-pro-name"> <input maxlength="11" placeholder="手机必填" name="umobile" id="umobile" type="text" class="inputBg_touch" th:value="${address?.umobile}" /></div>
					</li>
					<li style="display:none">
						<div class="input-text"><b class="pull-left">城市/地区：</b><span>
			        <select class="n-edit-box" name="country" id="selCountries_" onchange="region.changed(this, 1, 'selProvinces_')">
			          <option value="0">请选择</option>
			          			          <option value="1" selected>中国</option>
			          			          <option value="3415">fsa</option>
			          			        </select>
			        </span>
						</div>
					</li>
					<li class="dis-box s-xian-box s-user-top-1">
						<h3 class="profile-left-name text-all-span my-u-title-size">省/直辖市：</h3>
						<i class="iconfont icon-more n-addr-edit"></i>
						<select class="n-edit-box box-flex" name="uprovince" id="uprovince" onchange="changedProvince()">
							<option value="">请选择</option>
						</select>
					</li>
					<li class="dis-box s-xian-box s-user-top-1">
						<h3 class="profile-left-name text-all-span my-u-title-size">城市：</h3>
						<i class="iconfont icon-more n-addr-edit"></i>
						<select class="n-edit-box box-flex" name="ucity" id="ucity" onchange="changedCity()">
							<option value="">请选择</option>
						</select>
						</div>
					</li>
					<li class="dis-box s-xian-box s-user-top-1" id="selDistricts__box" style="">
						<h3 class="profile-left-name text-all-span my-u-title-size">区/县：</h3>
						<i class="iconfont icon-more n-addr-edit"></i>
						<select class="n-edit-box box-flex" name="uarea" id="uarea">
							<option value="0">请选择</option>
						</select>
						</div>
					</li>
					<li class="input-text  s-user-top-1"><b class="pull-left">详细地址：</b>
						<textarea name="udetailaddress" id="udetailaddress" placeholder="详细地址必填" type="text" th:text="${address?.udetailaddress}"></textarea>
					</li>
				</ul>

				<div class="two-btn ect-padding-tb   text-center">
					<input name="submit" th:if="${type != '1'}" id="btn-submit" type="button" class="btn-submit" value="新增收货地址"  th:value="${address}?'修改收货地址':'新增收货地址'" />
					<input name="submit" th:if="${type == '1'}" id="btn-submit" type="button" class="btn-submit" value="配送至此地址"  />
					<input name="utakeaddressid" id="utakeaddressid" type="hidden" th:value="${address?.utakeaddressid}" />
					<input name="type" id="type" th:value="${type}" hidden/>
				</div>
			</section>
		</form>

		</div>
		<div class="search-div ts-3">
			<section class="search">
				<form action="/ectouch/wsc/index.php?m=default&c=category&a=index&u=35172" method="post">
					<div class="text-all dis-box j-text-all">
						<a class="a-icon-back j-close-search" href="javascript:history.go(-1)"><i class="iconfont icon-jiantou is-left-font"></i></a>
						<div class="box-flex input-text">
							<input class="j-input-text" type="text" name="name" placeholder="请输入搜索关键词！" id="newinput" />
							<i class="iconfont icon-guanbi2 is-null j-is-null"></i>
						</div>
						<button type="submit" class="btn-submit">搜索</button>
					</div>
				</form>
			</section>
			<section class="search-con">
				<div class="swiper-scroll history-search">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<p>
								<label class="fl">热门搜索</label>
							</p>
							<ul class="hot-search a-text-more">
								<li class="w-3">
									<a href="/ectouch/wsc/index.php?m=default&c=category&a=index&keywords=%E7%BE%8E%E5%9B%BD&u=35172"><span>美国</span></a>
								</li>
								<li class="w-3">
									<a href="/ectouch/wsc/index.php?m=default&c=category&a=index&keywords=%E6%96%B0%E7%94%9F%E5%A9%B4%E5%84%BF&u=35172"><span>新生婴儿</span></a>
								</li>
							</ul>
							<p class="hos-search">
								<label class="fl">最近搜索</label>
								<span class="fr" onclick="javascript:clearHistroy();"><i class="iconfont icon-xiao10 is-xiao10 jian-top fr"></i></span>
							</p>

							<ul class="hot-search a-text-more a-text-one" id="search_histroy">
								<li>
									<a href="/ectouch/wsc/index.php?m=default&c=category&a=index&keywords=%E7%BE%8E%E5%9B%BD&u=35172"><span>美国</span></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="swiper-scrollbar"></div>
				</div>
			</section>
			<footer class="close-search j-close-search">
				点击关闭
			</footer>
		</div>

		<script type="text/javascript">
			//设置cookie
			function setCookie(cname, cvalue, exdays) {
				var d = new Date();
				d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
				var expires = "expires=" + d.toUTCString();
				document.cookie = cname + "=" + cvalue + "; " + expires;
			}

			function clearHistroy() {
				setCookie('ECS[keywords]', '', -1);
				document.getElementById("search_histroy").style.visibility = "hidden";
			}
		</script>
		<script type="text/javascript" src="/h5/data/assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="/h5/data/assets/js/jquery.json.js"></script>
		<script type="text/javascript" src="/h5/data/assets/js/common.js"></script>
		<script type="text/javascript" src="/h5/data/assets/js/jquery.more.js"></script>
		<script type="text/javascript" src="/h5/data/assets/js/utils.js"></script>
		<script src="/h5/data/assets/swiper/js/jquery.swiper.min.js"></script>
		<script src="/h5/themes/default/js/ectouch.js"></script>
		<script src="/h5/themes/default/js/simple-inheritance.min.js"></script>
		<script src="/h5/themes/default/js/code-photoswipe-1.0.11.min.js"></script>
		<script src="/h5/data/assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="/h5/themes/default/js/jquery.scrollUp.min.js"></script>
		<script type="text/javascript" src="/h5/data/assets/js/validform.js"></script>
		<script type="text/javascript" src="/h5/themes/default/statics/js/ectouch.js"></script>
		<script type="text/javascript" src="/h5/data/assets/js/new_cities.js"></script>
		<script language="javascript">
			var handler = function(e) { //禁止浏览器默认行为
				e.preventDefault();
			};
			/*banner滚动图片*/
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				slidesPerView: 1,
				loop: true,
				autoplay: 2000
			});
			/*弹出评论层并隐藏其他层*/
			function openSearch() {
				document.addEventListener("touchmove", handler, false);
				$("body").addClass("show-search-div");
				$(".search-div").css("z-index", "4999");
				$("input[name='keywords']").focus();
			}
		</script>

		<script type="text/javascript" src="/h5/data/assets/script/region.js"></script>
		<script type="text/javascript" src="/h5/data/assets/js/shopping_flow.js"></script>
		<script type="text/javascript">
			region.isAdmin = false;
			var consignee_not_null = "收货人姓名不能为空！";
			var country_not_null = "请您选择收货人所在国家！";
			var province_not_null = "请您选择收货人所在省份！";
			var city_not_null = "请您选择收货人所在城市！";
			var district_not_null = "请您选择收货人所在区域！";
			var invalid_email = "您输入的邮件地址不是一个合法的邮件地址。";
			var address_not_null = "收货人的详细地址不能为空！";
			var tele_not_null = "电话不能为空！";
			var shipping_not_null = "请您选择配送方式！";
			var payment_not_null = "请您选择支付方式！";
			var goodsattr_style = "1";
			var tele_invaild = "电话号码不有效的号码";
			var zip_not_num = "邮政编码只能填写数字";
			var mobile_invaild = "手机号码不是合法号码";
			var mobile_not_null = "手机号码不能为空";
			var uprovince = "[[${address?.uprovince}]]";
			var ucity = "[[${address?.ucity}]]";
			var uarea = "[[${address?.uarea}]]";
			
			onload = function() {
				if(!document.all) {
					document.forms['theForm'].reset();
				}
			}
			
			$(function() {
				$(cities).each(function(i,ele) {
					if (uprovince != "") {
						$("#uprovince").append("<option value='" + ele.text + "' " + (ele.text == uprovince ? "selected='selected'" : "") + ">" + ele.text + "</option>");
						changedProvince();
						$("#ucity option[value='"+ucity+"']").attr("selected","selected"); 
						changedCity();
						$("#uarea option[value='"+uarea+"']").attr("selected","selected"); 
					} else {
						$("#uprovince").append("<option value='" + ele.text + "'>" + ele.text + "</option>");
					}
				})
			})
			
			function getCitys(text) {
				var childs;
				$(cities).each(function(i,ele) {
					if (text == ele.text) {
						childs = ele.children;
						return false;
					}
				})
				return childs; 
			}
			
			function getArea(uprovince, ucity) {
				var childs;
				var citys = getCitys(uprovince);
				$(citys).each(function(i, ele) {
					if (ele.text == ucity) {
						childs = ele.children;
						return false;
					}
				})
				return childs;
			}
			
			/**
			 * 改变省份
			 */
			function changedProvince() {
				$('#uarea').html('<option value="">请选择</option>');
				$("#ucity").html('<option value="">请选择</option>');
				var uprovince = $("#uprovince").val().trim();
				if (uprovince != '') {
					var childs = getCitys(uprovince);
					$(childs).each(function(i,ele) {
						$("#ucity").append("<option value='" + ele.text + "'>" + ele.text + "</option>");
					})
				}
			}
			
			/**
			 * 改变城市
			 */
			function changedCity() {
				$('#uarea').html('<option value="">请选择</option>');
				var uprovince = $("#uprovince").val().trim();
				var ucity = $("#ucity").val().trim();
				if (ucity != '') { 
					var childs = getArea(uprovince, ucity);
					$(childs).each(function(i,ele) {
						$("#uarea").append("<option value='" + ele.text + "'>" + ele.text + "</option>");
					})
				}
			}
			
			$('#btn-submit').click(function() {
				if (document.getElementById('theForm')){
					$.ajax({
						type: 'POST',
						url: '/h5/takeAddress/save',
						data: {
							utakeaddressid: $('#utakeaddressid').val().trim(),
							uname: $('#uname').val().trim(),
							umobile: $('#umobile').val().trim(),
							uprovince: $('#uprovince').val().trim(),
							ucity: $('#ucity').val().trim(),
							uarea: $('#uarea').val().trim(),
							udetailaddress: $('#udetailaddress').val().trim(),
                            type: $("#type").val().trim()
						},
						success: function(res) {
                            if (res.retcode == 3) {
                                window.location.href = "/h5/order/checkout";
                            }else{

								alert(res.retmsg);

								if (res.retcode) {
									window.location.href = document.referrer;
								}
							}
						}
					})
				}
			})
		</script>
		
	</body>

</html>