<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="description" content="港货灵是一套分销系统，港货灵VIP获得超低价购买，VIP推荐用户成为VIP获得100元奖励，推荐用户购买获得利润的40%分成，推荐厂家产品给产品的所有销售的利润的5%分成，成为区域公司获得该区域下所有消费的利润5%分成。是一个最好的系统" />
		<meta name="keywords" content="港货灵分销，港货灵VIP获得超低价购买" />
		<title>港货灵</title>
		<link rel="stylesheet" href="/h5/themes/default/statics/css/ectouch.css" />
		<script type="text/javascript">
			var tpl = '/ectouch/wsc/themes/default';
		</script>

	</head>

	<body style="max-width:640px;">
		<div id="loading"><img src="/h5/themes/default/statics/img/loading.gif" /></div>
		<header class="dis-box header-menu b-color color-whie">
			<a class="" href="javascript:history.go(-1)"><i class="iconfont icon-jiantou"></i></a>
			<h3 class="box-flex">个人资料</h3>
			<p><i class="iconfont icon-pailie j-nav-box"></i></p>
		</header>
		<div class="j-nav-content">
			<ul class="dis-box new-footer-box">
				<li class="box-flex">
					<a href="/h5/index" class="nav-cont"><i class="nav-box"><img src="/h5/themes/default/statics/img/home.png"></i><span>首页</span></a>
				</li>
				<li class="box-flex">
					<a href="/h5/category" class="nav-cont"><i class="nav-box"><img src="/h5/themes/default/statics/img/cate.png"></i><span>分类</span></a>
				<li class="box-flex">
					<a href="javascript:;" class="nav-cont j-search-input"><i class="nav-box"><img src="/h5/themes/default/statics/img/search.png"></i><span>搜索</span></a>
				</li>
				<li class="box-flex">
					<a href="/h5/cart" class="nav-cont"><i class="nav-box"><img src="/h5/themes/default/statics/img/flow.png"></i><span>购物车</span></a>
				</li>
				<li class="box-flex">
					<a href="/h5/personal_center" class="nav-cont"><i class="nav-box"><img src="/h5/themes/default/statics/img/user.png"></i><span>我的</span></a>
				</li>
			</ul>
		</div>

		<form name="formEdit" action="/ectouch/wsc/index.php?m=default&c=user&a=profile&u=35173" method="post" onSubmit="return userEdit()">
			<section class="flow-consignee ect-bg-colorf s-user-top onclik-admin">
				<ul>
					<li class="dis-box s-xian-box s-user-top-1">
						<h3 class="profile-left-name text-all-span my-u-title-size">用户名：</h3>
						<div class="box-flex t-goods1  onelist-hidden"> <input name="email" type="text" readonly="readonly" placeholder="用户名" th:value="${user?.uloginname}" value="admin"></div>
					</li>
					<li class="dis-box s-xian-box s-user-top-1">
						<h3 class="profile-left-name text-all-span my-u-title-size">电子邮件：</h3>
						<div class="box-flex t-goods1 onelist-hidden "> <input name="email" type="text" placeholder="请输入电子邮箱" th:value="${user?.uemail}" value="10086@163.com"></div>
					</li>
				</ul>
			</section>
			<input name="act" type="hidden" value="profile" />
			<div class=" ect-padding-tb padding-all">
				<button name="submit" type="submit" class="btn-submit" value="确认修改">确认修改</button>
			</div>
		</form>

		<section class="b-color-f my-nav-box m-top10">
			<a href="update_password.html">
				<div class="s-user-top">
					<div class="dis-box s-xian-box s-user-top-1">
						<h3 class="box-flex text-all-span my-u-title-size">修改密码</h3>
						<span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span>
					</div>
				</div>
			</a>
			<a href="/h5/takeAddress/list">
				<div class="s-user-top">
					<div class="dis-box s-xian-box s-user-top-1">
						<h3 class="box-flex text-all-span my-u-title-size">收货地址</h3>
						<span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span>
					</div>
				</div>
			</a>

			<a href="/h5/thridbind/account_bind">
				<div class="s-user-top">
					<div class="dis-box s-xian-box s-user-top-1">
						<h3 class="box-flex text-all-span my-u-title-size">授权管理</h3>
						<span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span>
					</div>
				</div>
			</a>

			<a href="/h5/user/loginout">
				<div class="s-user-top">
					<div class="dis-box s-user-top-1">
						<h3 class="box-flex text-all-span my-u-title-size">退出</h3>
						<span class="t-jiantou"><i class="iconfont icon-jiantou tf-180 jian-top"></i></span>
					</div>
				</div>
			</a>
		</section>
		</div>

		<div class="search-div ts-3">
			<section class="search">
				<form action="/ectouch/wsc/index.php?m=default&c=category&a=index&u=35173" method="post">
					<div class="text-all dis-box j-text-all">
						<a class="a-icon-back j-close-search" href="javascript:history.go(-1)"><i class="iconfont icon-jiantou is-left-font"></i></a>
						<div class="box-flex input-text">
							<input class="j-input-text" type="text" name="name" placeholder="请输入搜索关键词！" id="newinput" />
							<i class="iconfont icon-guanbi2 is-null j-is-null"></i>
						</div>
						<button type="submit" class="btn-submit">搜索</button>
					</div>
				</form>
			</section>
			<section class="search-con">
				<div class="swiper-scroll history-search">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<p>
								<label class="fl">热门搜索</label>
							</p>
							<ul class="hot-search a-text-more">
								<li class="w-3">
									<a href="/ectouch/wsc/index.php?m=default&c=category&a=index&keywords=%E7%BE%8E%E5%9B%BD&u=35173"><span>美国</span></a>
								</li>
								<li class="w-3">
									<a href="/ectouch/wsc/index.php?m=default&c=category&a=index&keywords=%E6%96%B0%E7%94%9F%E5%A9%B4%E5%84%BF&u=35173"><span>新生婴儿</span></a>
								</li>
							</ul>
							<p class="hos-search">
								<label class="fl">最近搜索</label>
								<span class="fr" onclick="javascript:clearHistroy();"><i class="iconfont icon-xiao10 is-xiao10 jian-top fr"></i></span>
							</p>

							<ul class="hot-search a-text-more a-text-one" id="search_histroy">
								<li>
									<a href="/ectouch/wsc/index.php?m=default&c=category&a=index&keywords=%E7%BE%8E%E5%9B%BD&u=35173"><span>美国</span></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="swiper-scrollbar"></div>
				</div>
			</section>
			<footer class="close-search j-close-search">
				点击关闭
			</footer>
		</div>

		<script type="text/javascript">
			//设置cookie
			function setCookie(cname, cvalue, exdays) {
				var d = new Date();
				d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
				var expires = "expires=" + d.toUTCString();
				document.cookie = cname + "=" + cvalue + "; " + expires;
			}

			function clearHistroy() {
				setCookie('ECS[keywords]', '', -1);
				document.getElementById("search_histroy").style.visibility = "hidden";
			}
		</script>
		<script type="text/javascript" src="/h5/data/assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="/h5/data/assets/js/jquery.json.js"></script>
		<script type="text/javascript" src="/h5/data/assets/js/common.js"></script>
		<script type="text/javascript" src="/h5/data/assets/js/jquery.more.js"></script>
		<script type="text/javascript" src="/h5/data/assets/js/utils.js"></script>
		<script src="/h5/data/assets/swiper/js/jquery.swiper.min.js"></script>
		<script src="/h5/themes/default/js/ectouch.js"></script>
		<script src="/h5/themes/default/js/simple-inheritance.min.js"></script>
		<script src="/h5/themes/default/js/code-photoswipe-1.0.11.min.js"></script>
		<script src="/h5/data/assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="/h5/themes/default/js/jquery.scrollUp.min.js"></script>
		<script type="text/javascript" src="/h5/data/assets/js/validform.js"></script>
		<script type="text/javascript" src="/h5/themes/default/statics/js/ectouch.js"></script>
		<script language="javascript">
			var handler = function(e) { //禁止浏览器默认行为
				e.preventDefault();
			};
			/*banner滚动图片*/
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				slidesPerView: 1,
				loop: true,
				autoplay: 2000
			});
			/*弹出评论层并隐藏其他层*/
			function openSearch() {
				document.addEventListener("touchmove", handler, false);
				$("body").addClass("show-search-div");
				$(".search-div").css("z-index", "4999");
				$("input[name='keywords']").focus();
			}
		</script>
	</body>

</html>