<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>我的团队</title>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" href="lib/weui.min.css">
<link rel="stylesheet" href="css/jquery-weui.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body ontouchstart>
	<!--主体-->
	<header class="wy-header">
	<div class="wy-header-icon-back">
		
		<a href="javascript:window.history.back(-1)" target="_self"><span></span></a>
	</div>
	<div class="wy-header-title">我的团队</div>

	</div>
	</header>
	<div class='weui-content'>
		<div class="weui-search-bar" id="searchBar">
			<form class="weui-search-bar__form">
				<div class="weui-search-bar__box">
					<i class="weui-icon-search"></i> <input type="search"
						class="weui-search-bar__input" id="searchInput"
						placeholder="搜索您想要的商品" required> <a href="javascript:"
						class="weui-icon-clear" id="searchClear"></a>
				</div>
				<label class="weui-search-bar__label" id="searchText"
					style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
					<i class="weui-icon-search"></i> <span>搜索您想要的商品</span>
				</label>
			</form>
			<a href="javascript:" class="weui-search-bar__cancel-btn"
				id="searchCancel">取消</a>
		</div>
		<div class="weui-panel weui-panel_access">
			<div class="weui-panel__hd teambgcolor">
				<div class="weui-flex iconitems">
					<div class="selectsbox">
						<a href="javascript:;" class="open-popup" data-target="#ssss">
							<img src="img/123.png" alt="" />
						</a><span>全部</span>
					</div>
					<div id="ssss" class="weui-popup__container ">
						<div class="weui-popup__overlay"></div>
						<div class="weui-popup__modal">
							<div class="weui-cells">
								<div class="weui-cell weui-cell_select weui-cell_select-after">
									<div class="weui-cell__hd">
										<label for="" class="weui-label">角色</label>
									</div>
									<div class="weui-cell__bd">
										<select class="weui-select" name="select1">
											<option value="1">全部</option>
											<option value="2">vip</option>
											<option value="3">店铺</option>
											<option value="4">代理商</option>
											<option value="5">合作商</option>
										</select>
									</div>
								</div>
								<div class="weui-cell weui-cell_select weui-cell_select-after">
									<div class="weui-cell__hd">
										<label for="" class="weui-label">vip身份</label>
									</div>
									<div class="weui-cell__bd">
										<select class="weui-select" name="select2">
											<option value="1">全部</option>
											<option value="2">一度会员</option>
										</select>
									</div>
								</div>
							</div>
							<a href="javascript:;"
								class="weui-btn weui-btn_primary close-popup">确定</a>
						</div>
					</div>
					<div class="pull-rightss">团队总人数:1</div>
				</div>
			</div>
			<div class="weui-panel-bd cardlist">
				<a class="weui-media-box weui-media-box_appmsg listcolor">
					<div class="weui-media-box__hd">
						<img src="222.jpg" class="weui-media-box__thumb circleshow">
					</div>
					<div class="weui-media-box__bd">
						<h4>昵称</h4>
						<p>推荐人：推荐人昵称</p>
						<p>2019.01.02</p>
						<div class="buttonandright">
							<span>来源:</span>
						</div>
					</div>
					<div class="weui-cell__ft"></div>
				</a> <a class="weui-media-box weui-media-box_appmsg listcolor">
					<div class="weui-media-box__hd">
						<img src="222.jpg" class="weui-media-box__thumb circleshow">
					</div>
					<div class="weui-media-box__bd">
						<h4>昵称</h4>
						<p>推荐人：推荐人昵称</p>
						<p>2019.01.02</p>
						<div class="buttonandright">
							<span>来源:</span>
						</div>
					</div>
					<div class="weui-cell__ft"></div>

				</a>
			</div>
			<script src="lib/jquery-2.1.4.js"></script>
			<script src="lib/fastclick.js"></script>
			<script src="js/jquery-weui.js"></script>
		</div>
</body>
<script>
$(function(){
	$(".promotion-sku li").click(function(){
		$(this).addClass("active").siblings("li").removeClass("active");
		})
	})
</script>
</html>