<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>我的零钱</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description"
	content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" href="lib/weui.min.css">
<link rel="stylesheet" href="css/jquery-weui.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/tixian.css">
</head>
<body ontouchstart>
	<header class="wy-header">
	<div class="wy-header-icon-back">
		<a href="javascript:window.history.back(-1)" target="_self">
			<span></span>
		</a>
	</div>
	<div class="wy-header-title">提现</div>
	</div>
	</header>
	<div class="weui-content">
		<div class="weui-cells weui-cells_form">
			<div class="weui-cell">
				<div class="weui-cell__hd">
					<label for="" class="weui-label">到账银行卡</label>
				</div>
				<div class="weui-cell__bd">
					<select class="weui-select" name="select2">
						<option value="1">622848048562255</option>
						<option value="2">622848048562256</option>
						<option value="3">622848048562257</option>
					</select>
				</div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd">
					<label class="weui-label">提现金额</label>
				</div>
				<div class="weui-cell__bd">
					<input class="weui-input" type="number" placeholder="请输入金额">
				</div>
			</div>
		</div>
		<div class="weui-btn-area">
			<a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">提现</a>
		</div>
	</div>


	<script src="lib/jquery-2.1.4.js"></script>
	<script src="lib/fastclick.js"></script>
	<script src="js/jquery-weui.js"></script>
</body>
</html>