<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>我的零钱</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">-->
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">-->
    <!--<link rel="stylesheet" href="css/style.css">-->
    <!--<link rel="stylesheet" href="css/myburse.css">-->
    <!--<link rel="stylesheet" href="css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/weui/css/font-awesome.min.css">
    <link rel="stylesheet" href="/weui/css/main.css">
    <link rel="stylesheet" href="/weui/css/home.css">
    <link rel="stylesheet" href="/weui/css/theme-color.css">
    <link rel="stylesheet" href="/weui/css/style.css">

</head>
<body ontouchstart>
<header class="wy-header">
    <div class="wy-header-icon-back">
        <a href="/h5/home" target="_self">
            <span></span>
        </a>
    </div>
    <div class="wy-header-title">零钱</div>
    </div>
</header>
<div class="weui-content">
    <div class="weui-panel">
        <div class="weui-panel__hd">账户余额</div>
    </div>
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title" th:text="|￥${user?.ubalance}元|">￥<em class="num">1.0</em>
            </h4>
            <ul class="weui-media-box__info">
                <li class="weui-media-box__info__meta">
                    消费总额:￥<em class="num" th:text="${consumption}">0.00</em>
                </li>
                <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">
                    提现总额:￥<em class="num" th:text="${totalWithdraw}">0.00</em>
                </li>
            </ul>
        </div>
    </div>
  <!--  <div class="weui-panel__ft">
        <a href="/h5/wallet/rechargePage" class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">余额充值</div>
            <span class="weui-cell__ft"></span>
        </a>
    </div>-->
    <div class="weui-panel__ft">
        <a href="/h5/cashout/cashoutPage" class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">余额提现</div>
            <span class="weui-cell__ft"></span>
        </a>
    </div>
    <div class="weui-panel__ft">
        <a href="/h5/wallet/zhuanzengPage" class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">零钱转赠</div>
            <span class="weui-cell__ft"></span>
        </a>
    </div>
    <div class="weui-panel__ft">
        <a href="/h5/cashout/cashoutRecordPage" class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">提现记录</div>
            <span class="weui-cell__ft"></span>
        </a>
    </div>
    <div class="weui-panel__ft">
        <a href="/h5/wallet/transferPage" class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd">交易记录</div>
            <span class="weui-cell__ft"></span>
        </a>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script src="/weui/js/bootstrap.min.js"></script>
</body>
</html>