<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdv.shop.mapper.CtOpUserToCompMapper">
    <update id="updateOpusercomp">
        update ct_opuser_to_comp
        <set>
            <if test="uroleid != null and ''!=uroleid">
                uroleid = #{uroleid},
            </if>
            <if test="ustatus != null and ''!=ustatus">
                ustatus = #{ustatus},
            </if>
        </set>
        where uopuserid = #{uopuserid} and ucompid =#{ucompid}
    </update>
    	<select id="appQueryOpuser" parameterType="com.zdv.shop.model.vo.AppQueryOpuserVO" resultType="map">
		select u.uopuserid, u.ulogo, u.uopname, u.umobile, u.uregdate, dr_m.uroleid, dr_m.urolename, 
		dr_m.ulevelcolor, dr_m.utypes, u.ulognum
		from ct_comp_role dr_o
		inner join ct_opuser_to_comp utd_o on utd_o.uroleid = dr_o.uroleid
		inner join ct_comp_role dr_m on length(dr_m.ulevel) > length(dr_o.ulevel)
		inner join ct_opuser_to_comp utd on utd.uroleid = dr_m.uroleid
		inner join op_users u on u.uopuserid = utd.uopuserid
		where dr_o.uroleid = #{uroleid}
		and dr_o.ucompid = #{ucompid}
		and dr_m.uroleid != #{uroleid}
		and utd_o.uopuserid = #{uopuserid}
		and utd_o.ucompid = #{ucompid}
		<if test="uroleidCriteria != null and '' != uroleidCriteria">and dr_m.uroleid = #{uroleidCriteria}</if>
		<if test="keywords != null and '' != keywords">and u.uopname like concat('%', #{keywords}, '%')</if>
		group by u.uopuserid
	</select>
	<!-- 获得零售店下所有管理员ID -->
	<select  id="opusercomplistByCompid" parameterType="java.lang.String" resultType="map">
	select uopuserid from ct_opuser_to_comp where uifacceptinfo=1 and ucompid = #{ucompid}
	</select>
</mapper>