<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdv.shop.mapper.DtDistributorRoleMapper">


	<sql id="role">
	a.uroleid,
	a.ulevel,
	a.uparentid,
	a.urolename,
	a.udistributorid,
	a.ulevelcolor,
	a.utypes
	</sql>


    <select id="queryByRolename" resultType="com.zdv.shop.model.DtDistributorRole">
		select urolename  from dt_distributor_role
		where urolename = #{urolename} and udistributorid=#{udistributorid}
	</select>


	<select id="rootRolelist" resultType="com.zdv.shop.model.DtDistributorRole">
		select <include refid="role"/>
		from dt_distributor_role a
		where 1=1
		<if test="udistributorid !=null and ''!=udistributorid">
		and (a.uparentid is null or a.uparentid='')  and a.udistributorid=#{udistributorid}
		</if>
	</select>

	<select id="childRolelist" resultType="com.zdv.shop.model.DtDistributorRole">
		select <include refid="role"/>
		from dt_distributor_role a
		where a.uparentid=#{uparentid}  and a.udistributorid=#{udistributorid}
	</select>

	<delete id="delRoleByID">
		delete from dt_distributor_role		
		where uroleid = #{uroleid}
	</delete>
	
	<select id="queryPossessRoles" resultType="com.zdv.shop.model.DtDistributorRole">
		select dr_m.uroleid, dr_m.urolename from dt_distributor_role dr_o
		inner join dt_distributor_role dr_m on length(dr_m.ulevel) > length(dr_o.ulevel)
		inner join dt_opuser_to_distributor utd on utd.uroleid = dr_o.uroleid
		inner join op_users u on u.uopuserid = utd.uopuserid
		where dr_o.uroleid = #{uroleid} and dr_o.udistributorid = #{udistributorid}
		and dr_m.udistributorid = #{udistributorid} and utd.uopuserid = #{uopuserid} and dr_m.uroleid != #{uroleid}
		group by dr_m.uroleid
	</select>
</mapper>