<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdv.shop.mapper.DtDistributorToCompMapper">


    <insert id="addDistribtorAddComp">
      insert into dt_distributor_to_comp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ucompid != null and '' != ucompid">
                ucompid,
            </if>
            <if test="ucustomerid != null and '' != ucustomerid">
                ucustomerid,
            </if>
            <if test="udistributorid != null and '' != udistributorid">
                udistributorid,
            </if>
            <if test="ustatus != null and '' != ustatus">
                ustatus,
            </if>
            ucreatedate,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ucompid != null and '' != ucompid">
                #{ucompid},
            </if>
            <if test="ucustomerid != null and '' != ucustomerid">
                #{ucustomerid},
            </if>
            <if test="udistributorid != null and '' != udistributorid">
                #{udistributorid},
            </if>
            <if test="ustatus != null and '' != ustatus">
                #{ustatus},
            </if>
            UNIX_TIMESTAMP(now()),
        </trim>
    </insert>


    <select id="queryDistributorToComp" resultType="com.zdv.shop.model.DtDistributorTComp">

        select ucompid,udistributorid,ustatus,ucreatedate
        from dt_distributor_to_comp
        <where>
            <if test="ucompid != null and '' != ucompid">
                and ucompid = #{ucompid}
            </if>
            <if test="udistributorid != null and '' != udistributorid">
                and udistributorid = #{udistributorid}
            </if>
            <if test="ustatus != null and '' != ustatus">
                and ustatus = #{ustatus}
            </if>
        </where>

    </select>


</mapper>