<?xml version="1.0" encoding="uTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdv.shop.mapper.OaPendingMapper">

				<resultMap id="BaseResultMap" type="com.zdv.shop.model.OaPending">
				<id column="uid" jdbcType="BIGINT" property="uid" /> 
				<result column="updtype" jdbcType="VARCHAR" property="updtype"/>
				<result column="uflid" jdbcType="BIGINT" property="uflid"/>
				<result column="uflowid" jdbcType="BIGINT" property="uflowid"/>  
				<result column="ustepid" jdbcType="BIGINT" property="ustepid"/>  
				<result column="umdid" jdbcType="VARCHAR" property="umdid"/>
				<result column="uopid" jdbcType="INTEGER" property="uopid"/>
				<result column="uoperatetype" jdbcType="VARCHAR" property="uoperatetype"/>
				<result column="ucorpids" jdbcType="VARCHAR" property="ucorpids"/>
				<result column="udeptnos" jdbcType="VARCHAR" property="udeptnos"/>
				<result column="uroleids" jdbcType="VARCHAR" property="uroleids"/>
				<result column="ustaffid" jdbcType="BIGINT" property="ustaffid"/>
				<result column="uattachstaffids" jdbcType="VARCHAR" property="uattachstaffids"/>
				<result column="uallowEntrust" jdbcType="BIT" property="uallowEntrust"/>  
				<result column="uTrustee" jdbcType="VARCHAR" property="uTrustee"/>  
				<result column="uCountersign" jdbcType="BIT" property="uCountersign"/>
				<result column="usddatetime" jdbcType="VARCHAR" property="usddatetime"/>
				<result column="uremark" jdbcType="VARCHAR" property="uremark"/>
				<result column="uprioritytype" jdbcType="VARCHAR" property="uprioritytype"/>
				<result column="upriorityreason" jdbcType="VARCHAR" property="upriorityreason"/>
				<result column="upressnum" jdbcType="INTEGER" property="upressnum"/>
				<result column="ucorpid" jdbcType="BIGINT" property="ucorpid"/>
				<result column="udeptno" jdbcType="VARCHAR" property="udeptno"/>
				<result column="usender" jdbcType="VARCHAR" property="usender"/>  
				<result column="ulaststep" jdbcType="VARCHAR" property="ulaststep"/>  
				<result column="uisreturn" jdbcType="BIT" property="uisreturn"/>
				<result column="uenddatetime" jdbcType="VARCHAR" property="uenddatetime"/>
				<result column="uopflag" jdbcType="BIT" property="uopflag"/>
				<result column="uovertimeflag" jdbcType="VARCHAR" property="uovertimeflag"/>
		</resultMap>	

		<sql id="columns">
			a.uid,
			a.updtype,
			a.uflid,
			a.uflowid,
			a.ustepid,
			a.umdid,
			a.uopid,
			a.uoperatetype,
			a.ucorpids,
			a.udeptnos,
			a.uroleids,
			a.ustaffid,
			a.uattachstaffids,
			a.uallowEntrust,
			a.uTrustee,
			a.uCountersign,
			a.usddatetime,
			a.uremark,
			a.uprioritytype,
			a.upriorityreason,
			a.upressnum,
			a.ucorpid,
			a.udeptno,
			a.usender,
			a.ulaststep,
			a.uisreturn,
			a.uenddatetime,
			a.uopflag,
			a.uovertimeflag
		</sql>

		<!-- 按条件查询待办事宜信息 -->
	     <select id="queryList" parameterType="com.zdv.shop.model.OaPending" resultMap="BaseResultMap">
	      	     SELECT 
	      	     		<include refid="columns"></include>
	      	     FROM	OA_Pending a
	      	     WHERE 1=1      	    
	  	     		 <if test="uid != null and ''!= uid">
	  	     		     AND   a.uid=#{uid}
	  	     		 </if>
	  	     		 <if test="updtype != null and ''!= updtype">
	  	     		     AND  a.updtype=#{updtype}
	  	     		 </if>
	  	     		  <if test="uflid != null and ''!= uflid">
	  	     		     AND   a.uflid=#{uflid}
	  	     		 </if>
	  	     		 <if test="uflowid != null and ''!= uflowid">
	  	     		     AND  a.uflowid=#{uflowid}
	  	     		 </if>
	  	     		  <if test="ustepid != null and ''!= ustepid">
	  	     		     AND   a.ustepid=#{ustepid}
	  	     		 </if>
	  	     		 <if test="umdid != null and ''!= umdid">
	  	     		     AND  a.umdid=#{umdid}
	  	     		 </if>
	  	     		  <if test="uopid != null and ''!= uopid">
	  	     		     AND   a.uopid=#{uopid}
	  	     		 </if>
	  	     		  <if test="uoperatetype != null and ''!= uoperatetype">
	  	     		     AND   a.uoperatetype=#{uoperatetype}
	  	     		 </if>
	  	     		 <if test="ucorpids != null and ''!= ucorpids">
	  	     		     AND   a.ucorpids=#{ucorpids}
	  	     		 </if>
	  	     		 <if test="udeptnos != null and ''!= udeptnos">
	  	     		     AND   a.udeptnos=#{udeptnos}
	  	     		 </if>
	  	     		 <if test="uroleids != null and ''!= uroleids">
	  	     		     AND   a.uroleids=#{uroleids}
	  	     		 </if>
	  	     		  <if test="ustaffid != null and ''!= ustaffid">
	  	     		     AND   a.ustaffid=#{ustaffid}
	  	     		 </if>
	  	     		 <if test="uattachstaffids != null and ''!= uattachstaffids">
	  	     		     AND  a.uattachstaffids=#{uattachstaffids}
	  	     		 </if>
	  	     		  <if test="uallowEntrust != null and ''!= uallowEntrust">
	  	     		     AND   a.uallowEntrust=#{uallowEntrust}
	  	     		 </if>
	  	     		 <if test="uTrustee != null and ''!= uTrustee">
	  	     		     AND  a.uTrustee=#{uTrustee}
	  	     		 </if>
	  	     		  <if test="uCountersign != null and ''!= uCountersign">
	  	     		     AND   a.uCountersign=#{uCountersign}
	  	     		 </if>
	  	     		 <if test="usddatetime != null and ''!= usddatetime">
	  	     		     AND  a.usddatetime=#{usddatetime}
	  	     		 </if>
	  	     		  <if test="uremark != null and ''!= uremark">
	  	     		     AND   a.uremark=#{uremark}
	  	     		 </if>
	  	     		  <if test="uprioritytype != null and ''!= uprioritytype">
	  	     		     AND   a.uprioritytype=#{uprioritytype}
	  	     		 </if>
	  	     		 <if test="upriorityreason != null and ''!= upriorityreason">
	  	     		     AND   a.upriorityreason=#{upriorityreason}
	  	     		 </if>
	  	     		 <if test="upressnum != null and ''!= upressnum">
	  	     		     AND   a.upressnum=#{upressnum}
	  	     		 </if>
	  	     		 <if test="ucorpid != null and ''!= ucorpid">
	  	     		     AND   a.ucorpid=#{ucorpid}
	  	     		 </if>
	  	     		  <if test="udeptno != null and ''!= udeptno">
	  	     		     AND   a.udeptno=#{udeptno}
	  	     		 </if>
	  	     		 <if test="usender != null and ''!= usender">
	  	     		     AND  a.usender=#{usender}
	  	     		 </if>
	  	     		  <if test="ulaststep != null and ''!= ulaststep">
	  	     		     AND   a.ulaststep=#{ulaststep}
	  	     		 </if>
	  	     		 <if test="uisreturn != null and ''!= uisreturn">
	  	     		     AND  a.uisreturn=#{uisreturn}
	  	     		 </if>
	  	     		  <if test="uenddatetime != null and ''!= uenddatetime">
	  	     		     AND   a.uenddatetime=#{uenddatetime}
	  	     		 </if>
	  	     		 <if test="uopflag != null and ''!= uopflag">
	  	     		     AND  a.ucorpid=#{ucorpid}
	  	     		 </if>
	  	     		  <if test="uopflag != null and ''!= uopflag">
	  	     		     AND   a.ustaffid=#{ustaffid}
	  	     		 </if>
	  	     		  <if test="uovertimeflag != null and ''!= uovertimeflag">
	  	     		     AND   a.uovertimeflag=#{uovertimeflag}
	  	     		 </if>
	  	     	
	     </select>
		
		<!-- 按条件删除待办事宜信息 -->	
		 <delete id="deleteById" parameterType="java.lang.Integer">
	 			DELETE FROM OA_Pending  
	 			WHERE 1=1
		 			 <if test="uid != null and ''!= uid">
		 				AND	uid = #{uid}
		 			 </if>
		 			  <if test="updtype != null and ''!= updtype">
		 				AND	updtype = #{updtype}
		 			 </if>
		 			 <if test="uflid != null and ''!= uflid">
		 				AND	uflid = #{uflid}
		 			 </if>
		 			 <if test="uflowid != null and ''!= uflowid">
		 				AND	uflowid = #{uflowid}
		 			 </if>
		 			  <if test="ustepid != null and ''!= ustepid">
		 				AND	ustepid = #{ustepid}
		 			 </if>
		 			 <if test="umdid != null and ''!= umdid">
		 				AND	umdid = #{umdid}
		 			 </if>
		 			  <if test="uopid != null and ''!= uopid">
		 				AND	uopid = #{uopid}
		 			 </if>
	 	 </delete>
			
		
		<!-- 添加待办事宜信息 -->		
		 <insert id="insertOaPending" parameterType="com.zdv.shop.model.OaPending">
			    INSERT INTO OA_Pending
		    <trim prefix="(" suffix=")" suffixOverrides=",">
			    <if test="uid != null and ''!= uid">uid,</if>
			    <if test="updtype != null and ''!= updtype">updtype,</if>
			    <if test="uflid != null and ''!= uflid">uflid,</if>
			    <if test="uflowid != null and ''!= uflowid">uflowid,</if>
			    <if test="ustepid != null and ''!= ustepid">ustepid,</if>
			    <if test="umdid != null and ''!= umdid">umdid,</if>
			    <if test="uopid != null and ''!= uopid">uopid,</if>
			    <if test="uoperatetype != null and ''!= uoperatetype">uoperatetype,</if>
			    <if test="ucorpids != null and ''!= ucorpids">ucorpids,</if>
			    <if test="udeptnos != null and ''!= udeptnos">udeptnos,</if>
			    <if test="uroleids != null and ''!= uroleids">uroleids,</if>
			    <if test="ustaffid != null and ''!= ustaffid">ustaffid,</if>
			    <if test="uattachstaffids != null and ''!= uattachstaffids">uattachstaffids,</if>
			    <if test="uallowEntrust != null and ''!= uallowEntrust">uallowEntrust,</if>
			    <if test="uTrustee != null and ''!= uTrustee">uTrustee,</if>
			    <if test="uCountersign != null and ''!= uCountersign">uCountersign,</if>
			    <if test="usddatetime != null and ''!= usddatetime">usddatetime,</if>
			    <if test="uremark != null and ''!= uremark">uremark,</if>
			    <if test="uprioritytype != null and ''!= uprioritytype">uprioritytype,</if>
			    <if test="upriorityreason != null and ''!= upriorityreason">upriorityreason,</if>
			    <if test="upressnum != null and ''!= upressnum">upressnum,</if>
			    <if test="ucorpid != null and ''!= ucorpid">ucorpid,</if>
			    <if test="udeptno != null and ''!= udeptno">udeptno,</if>
			    <if test="usender != null and ''!= usender">usender,</if>
			    <if test="ulaststep != null and ''!= ulaststep">ulaststep,</if>
			    <if test="uisreturn != null and ''!= uisreturn">uisreturn,</if>
			    <if test="uenddatetime != null and ''!= uenddatetime">uenddatetime,</if>
			    <if test="uopflag != null and ''!= uopflag">uopflag,</if>
			    <if test="uovertimeflag != null and ''!= uovertimeflag">uovertimeflag,</if>
		    </trim>
				VALUES
			<trim prefix="(" suffix=")" suffixOverrides=",">
			    <if test="uid != null and ''!= uid">#{uid},</if>
			    <if test="updtype != null and ''!= updtype">#{updtype},</if>
			    <if test="uflid != null and ''!= uflid">#{uflid},</if>
			    <if test="uflowid != null and ''!= uflowid">#{uflowid},</if>
			    <if test="ustepid != null and ''!= ustepid">#{ustepid},</if>
			    <if test="umdid != null and ''!= umdid">#{umdid},</if>
			    <if test="uopid != null and ''!= uopid">#{uopid},</if>
			    <if test="uoperatetype != null and ''!= uoperatetype">#{uoperatetype},</if>
			    <if test="ucorpids != null and ''!= ucorpids">#{ucorpids},</if>
			    <if test="udeptnos != null and ''!= udeptnos">#{udeptnos},</if>
			    <if test="uroleids != null and ''!= uroleids">#{uroleids},</if>
			    <if test="ustaffid != null and ''!= ustaffid">#{ustaffid},</if>
			    <if test="uattachstaffids != null and ''!= uattachstaffids">#{uattachstaffids},</if>
			    <if test="uallowEntrust != null and ''!= uallowEntrust">#{uallowEntrust},</if>
			    <if test="uTrustee != null and ''!= uTrustee">#{uTrustee},</if>
			    <if test="uCountersign != null and ''!= uCountersign">#{uCountersign},</if>
			    <if test="usddatetime != null and ''!= usddatetime">#{usddatetime},</if>
			    <if test="uremark != null and ''!= uremark">#{uremark},</if>
			    <if test="uprioritytype != null and ''!= uprioritytype">#{uprioritytype},</if>
			    <if test="upriorityreason != null and ''!= upriorityreason">#{upriorityreason},</if>
			    <if test="upressnum != null and ''!= upressnum">#{upressnum},</if>
			    <if test="ucorpid != null and ''!= ucorpid">#{ucorpid},</if>
			    <if test="udeptno != null and ''!= udeptno">#{udeptno},</if>
			    <if test="usender != null and ''!= usender">#{usender},</if>
			    <if test="ulaststep != null and ''!= ulaststep">#{ulaststep},</if>
			    <if test="uisreturn != null and ''!= uisreturn">#{uisreturn},</if>
			    <if test="uenddatetime != null and ''!= uenddatetime">#{uenddatetime},</if>
			    <if test="uopflag != null and ''!= uopflag">#{uopflag},</if>
			    <if test="uovertimeflag != null and ''!= uovertimeflag">#{uovertimeflag},</if>
		    </trim>
		 </insert>

		  <!--按条件进行修改  -->
		  <update id="updateByIds">
				UPDATE OA_Pending
					<set>						
						<if test="null != uid and ''!= uid"> uid = #{uid},</if>
						<if test="null != updtype and ''!= updtype"> updtype = #{updtype},</if>
						<if test="null != uflid and ''!= uflid"> uflid = #{uflid},</if>
						<if test="null != uflowid and ''!= uflowid"> uflowid = #{uflowid},</if>		
						<if test="null != ustepid and ''!= ustepid"> ustepid = #{ustepid},</if>
						<if test="null != umdid and ''!= umdid"> umdid = #{umdid},</if>
						<if test="null != uopid and ''!= uopid"> uopid = #{uopid},</if>
						<if test="null != uoperatetype and ''!= uoperatetype"> uoperatetype = #{uoperatetype},</if>
						<if test="null != ucorpids and ''!= ucorpids"> ucorpids = #{ucorpids},</if>
						<if test="null != udeptnos and ''!= udeptnos"> udeptnos = #{udeptnos},</if>
						<if test="null != uroleids and ''!= uroleids"> uroleids = #{uroleids},</if>
						<if test="null != ustaffid and ''!= ustaffid"> ustaffid = #{ustaffid},</if>
						<if test="null != uattachstaffids and ''!= uattachstaffids"> uattachstaffids = #{uattachstaffids},</if>
						<if test="null != uallowEntrust and ''!= uallowEntrust"> uallowEntrust = #{uallowEntrust},</if>
						<if test="null != uTrustee and ''!= uTrustee"> uTrustee = #{uTrustee},</if>		
						<if test="null != uCountersign and ''!= uCountersign"> uCountersign = #{uCountersign},</if>
						<if test="null != usddatetime and ''!= usddatetime"> usddatetime = #{usddatetime},</if>
						<if test="null != uremark and ''!= uremark"> uremark = #{uremark},</if>
						<if test="null != uprioritytype and ''!= uprioritytype"> uprioritytype = #{uprioritytype},</if>
						<if test="null != upriorityreason and ''!= upriorityreason"> upriorityreason = #{upriorityreason},</if>
						<if test="null != upressnum and ''!= upressnum"> upressnum = #{upressnum},</if>
						<if test="null != ucorpid and ''!= ucorpid"> ucorpid = #{ucorpid},</if>					
						<if test="null != udeptno and ''!= udeptno"> udeptno = #{udeptno},</if>
						<if test="null != usender and ''!= usender"> usender = #{usender},</if>
						<if test="null != ulaststep and ''!= ulaststep"> ulaststep = #{ulaststep},</if>
						<if test="null != uisreturn and ''!= uisreturn"> uisreturn = #{uisreturn},</if>		
						<if test="null != uenddatetime and ''!= uenddatetime"> uenddatetime = #{uenddatetime},</if>
						<if test="null != uopflag and ''!= uopflag"> uopflag = #{uopflag},</if>
						<if test="null != uovertimeflag and ''!= uovertimeflag"> uovertimeflag = #{uovertimeflag},</if>														
					</set>
				WHERE 1=1
					 <if test="uid != null and ''!= uid">
		 				AND	uid = #{uid}
		 			 </if>
		 			  <if test="updtype != null and ''!= updtype">
		 				AND	updtype = #{updtype}
		 			 </if>
		 			 <if test="uflid != null and ''!= uflid">
		 				AND	uflid = #{uflid}
		 			 </if>
		 			 <if test="uflowid != null and ''!= uflowid">
		 				AND	uflowid = #{uflowid}
		 			 </if>
		 			  <if test="ustepid != null and ''!= ustepid">
		 				AND	ustepid = #{ustepid}
		 			 </if>
		 			 <if test="umdid != null and ''!= umdid">
		 				AND	umdid = #{umdid}
		 			 </if>
		 			  <if test="uopid != null and ''!= uopid">
		 				AND	uopid = #{uopid}
		 			 </if>
	  	     
		  </update>

</mapper>