<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdv.shop.mapper.UtTakeAddressMapper">

	<update id="updateDefault" parameterType="com.zdv.shop.model.UtTakeAddress">
		update ut_takeaddress set udefault = #{udefault}
		<where>
			<if test="utakeaddressid != null and '' != utakeaddressid">utakeaddressid = #{utakeaddressid}</if>
			<if test="uuserid != null and '' != uuserid">and uuserid = #{uuserid}</if>
		</where>
	</update>
</mapper>